body{
    background-color: #FFCB05;
    font-family: Georgia, serif;
}
#logo{
    margin: 0;
    display: block;
    float: left;
    margin-left: -30%;
    margin-top: 2%;
}
#logo:hover{
    cursor:pointer;
}
#leftheader{
    display:block;
    float:left;
    padding: 10%;
    border-left: 4px solid #2B3990;
}
#maintitle {
    color: #2B3990;
    display: block;
    float: left;
    width: 100%;
    margin-top:-15%;
    text-align: center;
}
#catchy{
    color: #2B3990;
    display: block;
    float: right;
    font-family: 'Brush Script MT', cursive;
    font-size: large;
    margin-top:-10%;
    width: 100%;
    text-align: center;
}
#rightheader{
    padding: 10%;
    border-left: 4px solid #2B3990;
    margin-left: 90%;
    margin-right: -40%;
}
#user{
    display: block;
    float: left;
    width: 100%;
    margin-top:-12%;
    margin-left: 60%;
}
#user img{
    width: 5%;
    margin-left: -28%;
}
#user img:hover{
    width: 6%;
}
#user a, #links {
    margin: 2%;
}
#links{
    margin-top: -4%;
    margin-left: 10%;
}
#links button{
    background-color: #2B3990;
    color: #FFCB05;
    margin: 0.5%;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-weight:bold;
}
#links button:hover{
    cursor: pointer;
    background-color: #ffffff;
    color:#2B3990;
}
#bottomheader{
    border: 2px solid #2B3990;
    clear:both;
    margin-left: -35%;
    width: 170%;
}
#search, #clothessearch {
    margin-top: 5%;
}
#myMenu img, #clothesmyMenu img, #clothesmyMenu2 img{
    width: 300px;
    height: 180px;
}
#clothesmyMenu img, #clothesmyMenu2 img{
    margin-left: -40%;
}
#MainLink li{
    list-style-type: none;
}
.cont1{
    margin-bottom: 50em;
}
.cont2{
    margin-bottom: 70em;
}
#dashboard{
    position: absolute;
    left: 3%;
    width: 200px;
    height: fit-content;
    border: 5px outset #2B3990;
}
#menu li, .signupbuttons{
    background-color: #2B3990;
    padding: 8px 20px;
    margin:1%;
    list-style-type: none;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
    margin-left: -39px;
    text-transform: capitalize;   
}
#dashboard>div>p{
    background-color: #000000;
    padding: 8px 20px;
    margin:1%;
    font-weight:bold;
    border-radius:5px;
    text-transform: uppercase; 
    color:#ffffff;
    text-align: center;
    margin-bottom: 7%;
}
#menu li:hover, .signupbuttons:hover{
    background-color: #ffffff;
    color:#2B3990;
}
.button-82-pushable{
    margin: 10%;
    margin-bottom: 0;
    width: 30%;
}
.button-82-edge>span>a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
}
.signupbuttons{
    color:#FFCB05;
    float:right;
    clear:both;
    margin-right: 40px;
    margin-bottom: 20px;
    width: 300px;
}
#links2 button{
    background-color: #2B3990;
    color: #FFCB05;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    font-weight:bold;
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    text-decoration: none;
}
#links2 button:hover{
    cursor: pointer;
    background-color: #ffffff;
    color:#2B3990;
}
#movebottom{
    margin-bottom: -10%;
}
#warning{
    background-color: red;
    padding: 20px;
    margin-top:10px;
    color: white;
    margin-top: -150px;
    width: 1200px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight:bolder;
}
#goodstitle{
    margin-top: 40px;
    font-weight: bolder;
}
#half>li>input{
    float:left;
    width: 30%;
    clear:left;
}
#topmarginreduce{
    margin-top:-42px;
}
#topmarginreduce>input{
    height: 46px;
}
#third>li>input{
    float:left;
    width: 30%;
    clear:left;
}
#third{
    margin-top:-20px;
}
#desc{
    float:right;
    margin-right: 40px;
}

  @media only screen and (max-width: 1500px) {
    /* For tablets: */
    #logo, #leftheader, #rightheader, #user{
        visibility: hidden;
    }
  }
  @media only screen and (max-width: 1900px) {
    /* For desktop: */
    #logo{
        width: 20%;
        margin-left: -180px;
    }
  }
  #user>a{
    visibility: hidden;
  }
  #links{
    margin-left: -70px;
  }